<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" ng-app="PokerApp">
<head>
    <meta charset="utf-8" />
    <title>Planning Poker</title>
    <script src="angular.js"></script>
    <script src="poker.js"></script>
    <link href="bootstrap.css" rel="stylesheet" />
    <link href="bootstrap-theme.css" rel="stylesheet" />
</head>
<body ng-controller="MainCtrl">
    <h1 class="text-center">JRS Planning Poker</h1>

    <div id="namePanel" class="panel">
        <h3 ng-show="newUser.name">Welcome, {{newUser.name}}!</h3>
        <form name="userForm" novalidate ng-show="true">
            <div class="well">
                <div class="form-group">
                    <label>Enter your name:</label>
                    <input name="userName" type="text" required ng-model="newUser.name" />
                    <!--<button type="submit" ng-disabled="userForm.$invalid">Submit</button>-->
                </div>
            </div>
        </form>
    </div>

    <div id="formPanel" class="panel">
        <form name="estimateForm" novalidate ng-submit="addTask(newTask)">
            <div class="well">
                <div class="form-group">
                    <label>Task: </label>
                    <textarea name="project" cols="40" rows="5" class="form-control"
                              ng-model="newTask.projectDescription"></textarea>
                </div>
                <span class="input-group-btn">
                    <button class="btn btn-default" type="submit"
                            ng-click="data.togglestart = true">
                        Start
                    </button>
                    <button class="btn btn-default" type="button"
                            ng-click="data.togglestart = false">
                        Reveal
                    </button>
                </span>
            </div>
        </form>


        <form name="cardform" novalidate>
            <div class="well">
                <div class="form-group">
                    <label for="cardSelection">Your Estimate:</label>
                    <select id="cardSelection" ng-model="newCard.selectCard"
                            ng-options="card for card in cardoptions">
                        <option value="">(Pick One)</option>
                    </select>
                </div>
                <button class="btn btn-primary" type="submit" ng-click="addCard(newUser, newCard)">
                    Submit Your Estimate
                </button>
            </div>

            <div class="well">
                <p>You've selected: {{newCard.selectCard || "None"}}</p>
            </div>
        </form>

    </div>

    <div id="cardsPanel" ng-hide="data.togglestart" class="panel" style="background-color: lightblue">
        <h3 class="panel-header">
            The Votes Are In...
            <span class="label label-info">
                {{ cardchoices[data.tasknum].choices.length }} Votes
            </span>
        </h3>
        
        <div class="row">
            <div class="col-xs-3" ng-repeat="choice in cardchoices[data.tasknum].choices">
                <div class="well">
                    {{choice.user}}
                    <h4>{{choice.card}}</h4>
                </div>
            </div>
        </div>
    </div>

</body>
</html>