<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" ng-app="PokerApp">
<head>
    <meta charset="utf-8" />
    <title>Estimation Lottery</title>

    <script src="/socket.io/socket.io.js"></script>
    <script src="angular.js"></script>
    <script src="../app.js"></script>
    <script src="service.js"></script>
    <script src="poker.js"></script>
    <link href="bootstrap.css" rel="stylesheet" />
    <link href="bootstrap-theme.css" rel="stylesheet" />
</head>
<body ng-controller="MainCtrl">
    <div class="jumbotron">
        <h1 class="text-center">JRS Estimation Lottery</h1>
    </div>

    <div id="dataSubmissions" class="col-xs-5">
        <div id="namePanel" class="panel panel-default">
            <div class="panel-heading">
                <h3 ng-hide="data.name">Welcome!</h3>
                <h3 ng-show="data.name">Welcome, {{data.name}}!</h3>
            </div>
            <form name="userForm" novalidate ng-show="true">
                <div class="well">
                    <div class="form-group">
                        <label>Enter your name: </label>
                        <input name="userName" type="text" required ng-model="data.name" />
                        <button class="btn btn-danger" 
                                ng-hide="!params.leader && params.leaderchosen"
                                ng-click="setLeader()">I'm the leader!</button> 
                        <button class="btn btn-warning" 
                                ng-hide="!params.leader && params.leaderchosen"
                                ng-click="resetLeader()">Give up your power</button>
                    </div>
                </div>
            </form>
            <div class="panel-body">
                <p>The task being evaluated is: {{params.currenttask || "None"}}</p>
            </div>
        </div>

        <div id="taskPanel" class="panel" ng-show="params.leader">
            <form name="estimateForm" novalidate ng-submit="deleteCards()">
                <div class="well">
                    <div class="form-group">
                        <label>Enter a New Task: </label>
                        <textarea name="project" cols="40" rows="5" class="form-control"
                                  ng-model="newtask"></textarea>
                    </div>
                    <div class="btn-group">
                        <button type="button" class="btn btn-info" ng-click="changeTask(newtask)">
                            Change Task
                        </button>
                    </div>
                    <div class="btn-group pull-right">
                        <button type="button" class="btn btn-success"
                                ng-click="toggle(false)">
                            Reveal
                        </button>
                    </div>
                    <div class="btn-group pull-right">
                        <button class="btn btn-success" type="submit"
                                ng-click="toggle(true)">
                            Start
                        </button>
                    </div>
                </div>
            </form>
        </div>

        <div id="estimatePanel" class="panel" ng-show="params.togglestart">
            <div class="well">
                <form name="cardform" novalidate ng-submit="createCard(data)"
                      ng-class="showMessage ? 'validate' : ''">
                    <div class="form-group">
                        <label for="cardSelection">Your Estimate: </label>
                        <select id="cardSelection" ng-model="data.card"
                                ng-options="card for card in cardoptions" required>
                            <option value="">(Pick One)</option>
                        </select>
                        <p class="pull-right">You've selected: {{data.card || "None"}}</p>
                    </div>
                    <button id="createButton" class="btn btn-primary" type="submit" ng-disabled="showMessage || cardform.$invalid">
                        Submit Your Estimate
                    </button>
                    <p class="error" style="color: darkgreen; font-weight: bold"
                       ng-show="showMessage">Submitted!</p>
                </form>
            </div>
        </div>
    </div>

    <div id="cardsPanel" class="col-xs-7">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 ng-hide="params.togglestart">
                    The Votes Are In...
                    <span class="label label-primary pull-right">
                        {{ cardchoices.length }} Votes
                    </span>
                </h3>
                <h3 ng-show="params.togglestart">
                    Voting in Progress...
                    <span class="label label-primary pull-right">
                        {{ cardchoices.length }} Votes
                    </span>
                </h3>
            </div>
            <div class="panel-body" ng-hide="params.togglestart">
                <h3>
                    Average Estimate: {{ params.cardavg }}
                </h3>
            </div>
        </div>


        <div class="row">
            <div class="col-xs-3" ng-repeat="choice in cardchoices">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h4 class="panel-title">{{choice.name}}</h4>
                    </div>
                    <div class="panel-body" ng-hide="params.togglestart">
                        <h3 class="">{{choice.card}}</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>